<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd
	">

	<bean id="human" class="com.xworkz.human.Human" autowire="constructor">
		<constructor-arg name="name" value="Indira" />
		<constructor-arg name="age" value="55" />
	</bean>

	<bean id="heart" class=" com.xworkz.human.Heart"></bean>

	<!-- Ocean -->

	<bean id="earth" class=" com.xworkz.earth.Earth" autowire="byName">
		<property name="liveable" value="true"></property>
		<property name="distanceFromSun" value="147"></property>
	<!--  	<property name="pacific" ref="indian"></property>--> <!-- overrides -->
	</bean>

	<bean id="pacific" class="com.xworkz.earth.Ocean" autowire="byName">
		<property name="name" value="pacific"></property>
	</bean>

	<bean id="indian" class="com.xworkz.earth.Ocean" autowire="byType">
		<property name="name" value="indian"></property>            <!-- overrides -->
	</bean>

	<bean id="blueWhale" class="com.xworkz.earth.Whale">
		<property name="weight" value="173"></property>
		<property name="mammal" value="true"></property>
	</bean>

</beans>