<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<bean class="com.xworkz.scope.Temple" id="tp" scope="singleton">
<constructor-arg name="name" value="Siddeshwara"></constructor-arg>
<property name="place" value="Solapur"></property>
</bean>


<bean class="com.xworkz.scope.Temple" id="tm" scope="prototype">
<constructor-arg name="name" value="Basaveshara"></constructor-arg>
<property name="place" value="B.Bagewadi"></property>
</bean>

<bean class="com.xworkz.scope.Temple" id="templist">
<constructor-arg name="name" value="Basaveshara"></constructor-arg>
<property name="templeList" >
<list>
<value>B.Bagewadi</value>
<value>Bijapur</value>
<value>Jamkhandi</value>
</list>
</property>
</bean>

</beans>